:root {
  --base00: #383838;
  --base01: #434343;
  --base02: #515151;
  --base03: #666;
  --base04: #818181;
  --base05: #a4a4a4;
  --base06: #c8c8c8;
  --base07: #e3e3e3;
  --base08: #8ecdff;
  --base09: #d83bd2;
  --base0A: #fecc1b;
  --base0B: #6bd968;
  --base0C: #3defe9;
  --base0D: #3992ff;
  --base0E: #d83bd2;
  --base0F: #c8c8c8;
}
