/* ---------- Global styles ----- */

HTML {
  font-size: 16px;
}

/* ---------- Utils ----- */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
